.Pass-container{
    margin: 5rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 30rem;
    border-radius: 8px;
    padding: 1rem;
    background-color: #f4f0fa;
   align-items: center;
}
.Pass-container h1{
    text-align: center;
    color: #125c13;
    font-family: "Times New Roman", Times, serif;
  }

.Pass-container label{
    margin: inherit;
    display: block;
    color: #616161;
    margin-bottom: 0.5rem;
    font-size: 18px;
}
.Pass-container input{
    display: block;
  width: 100%;
  height: 30px;
  margin: auto;
  
  text-indent: 2px;
   padding: 5px;
  border: hidden;
}

.Pass-container button {
    margin-top: 15px;
     

    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 3px;
    padding: 0.5rem 2.5rem;
  }
  
  .Pass-container button:hover {
    background-color: #873abb;
    border-color: #873abb;
  }
  
  .text-danger{
    color: red;
  }